/* variables */ 

:root {
	--dark-green: #001A04;
	--dark-purple: #380030;
	--green: #004D0B;
}

/* universal styling */ 

body {
	font-size: 16px;
	color: white;
	background-color: var(--dark-green);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-content:center; 
	margin: 0;
}

h1  {
	font-weight: bold;
	font-size: 3.0rem;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 10px 0;
}

/* input block styling */ 

#input-area {
	background-color: var(--dark-purple);
	border-radius: 10px;
	width: 500px;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center; 
	flex-direction: column;
	margin: 0 auto;
}

label,
input,
button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center; 
	margin: 10px;
	font-size: 1.5rem;
}

#result {
	font-size: 1.5rem;
}

/* definition styling*/

#definition {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	background-color: var(--green);
	width: 500px;
	border-radius: 10px;
	margin: 10px auto;	
	font-size: 1.2rem;
	
}